.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
  
  .jumbotron h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .jumbotron p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

table, th, td {
    
    border: 1px solid;
    padding: 10px;
  }

  
table {
    border: 2px solid;
    margin: 5px;
  }

