.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

}

.jumbotron {
  background-color: #e9ecef;
  padding: 2rem 1rem;
  margin-top: 1rem;
  border-radius: 3rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

  position: absolute; /* Position the jumbotron relative to the container */
  top: 0; /* Position it at the top of the container */
  margin: auto; /* Center it horizontally */
  z-index: 1; /* Ensure the jumbotron appears above other elements */
}

table, th, td {
  
  border: 1px solid;
  padding: 10px;

}


table {
  border: 2px solid;
  margin: 5px;
}

.message {
  margin: 10px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.message.hidden {
  opacity: 0;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #80ef26;
  padding: 15px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.success .alertClose {
  float: right;
  cursor: pointer;
}

.success .alertText {
  margin-bottom: 0;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  max-height: 150px;
  border-style: solid;

}