.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 3rem 3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

form p {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="text"],
  form input[type="number"],
  form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }