
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 10px 15px 10px 15px;
    margin: 10px 35px 10px 35px;;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }

  li {
    margin: 0 10px;

  }

  .nav-link {
    padding-right: 1rem;
    text-decoration: none;
    color: #fff;
  }

  .hello-msg {
    color: #fff;
    padding-right: 20px;
    margin-left: 20px;
  }

  .navbar-right {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .navbar-right span {
    margin-left: 20px;
  }
  
  .book-count {
    color: white;
  }