{% extends "book_store_arboleda/base.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/emptycart.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">

        <div class="message">
            <h3>Hello {{ user.first_name|capfirst }}, your cart is empty</h3>
            <a href="{% url 'home' %}" class="button">Continue Shopping</a>    
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </div>
    </div>
</div>

{% endblock %}