{% extends "book_store_arboleda/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/home1.css' %}">
    {% endblock %}
</head>

{% block content %}
  


<div class="card-father">
    <ul>
        {% for book in books %}
        <li>
            <div class="card">
                <div class="center-book-img">
                    <img src="{% static 'images/'|add:book.title|add:'.jpg' %}" alt="{{ book.title }}" class="book-image">
                </div>
                <div class="card-body">
                    <h2 class="book-title">{{ book.title }}</h2>
                    <p class="book-author">{{ book.author }}</p>
                    <p class="book-price">${{ book.price }}</p>
                    <a href="{% url 'addtocart' pk=book.pk %}" class="button">Add to cart</a>

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

  

{% endblock %}
</body>
</html>

<!-- {% block scripts %}
{{ block.super }}
<script src="{% static 'js/book_store/book_store_arboleda/homepage.js' %}"></script>
{% endblock %} -->