{% extends "book_store_arboleda/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/home1.css' %}">
{% endblock %}

{% block content %}
<div class="card-father">
    <ul>
        {% for book in books %}
        <li>
            <div class="card">
                <div class="center-book-img">
                    <img src="{% static 'images/'|add:book.title|add:'.jpg' %}" alt="{{ book.title }}" class="book-image">
                </div>

                <div class="card-body">
                    <h2 class="book-title">{{ book.title }}</h2>

                    {% for author in book.authors.all %}
                        <p>{{ author.name }}</p>
                    {% endfor %}

                    <p class="book-price">Price: ${{ book.price }}</p>

                    {% if book.stock.copies_in_stock > 0 %}
                        <p class="book-stock">In stock: {{ book.stock.copies_in_stock }}</p>
                        <p class="availability"><i class="fa-regular fa-circle-check fa-lg"></i> Available</p>
                    {% else %}
                        <p class="availability"><i class="fa-solid fa-circle-xmark"></i> We are sorry the book is not in stock in this moment</p>

                    {% endif %}

                    {% if user.is_anonymous %}
                        <a href="{% url 'addtocart' pk=book.pk %}" class="button">Add to cart</a>
                    {% elif user.is_staff %}
                        <a href="{% url 'updateBook' pk=book.pk %}" class="button">Update</a>
                        <a href="{% url 'deleteBook' pk=book.pk %}" class="button">Delete</a>
                    {% else %}
                        {% if book.stock.copies_in_stock > 0 %}
                            <a href="{% url 'addtocart' pk=book.pk %}" class="button">Add to cart</a>
                        {% else %}
                            <button class="button" disabled>Add to cart</button>
                        {% endif %}
                    {% endif %}

                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}



</body>
</html>

