{% extends "book_store_arboleda/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/invoice_detail.css' %}">
{% endblock %}
{% block content %}
<div class="main-content">
  <h1>Invoice Details</h1>

  <div class="invoice-section">
    <div class="invoice-info">
      <h2>Invoice</h2>
      <p>Invoice ID: {{ invoice.id }}</p>
      <p>Date: {{ invoice.date }}</p>
      <p>User: {{ invoice.user.username }}</p>
    </div>

    <div class="invoice-order">
      <h2>Invoice Details</h2>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Book</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice_detail in invoice_details %}
              <tr>
                <td>{{ invoice_detail.book.title }}</td>
                <td>{{ invoice_detail.book.price }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  
</div>

{% endblock %}