{% extends "book_store_arboleda/base.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/paymentInfo.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="title">
            <h2>Payment</h2>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="button">Submit Payment</button>
        </form>
    </div>
</div>

{% endblock %}
