{% extends "book_store_arboleda/base.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/jumbotronCart.css' %}">
{% endblock %}

{% block content %}
 
<div class="container">
    <div class="jumbotron">
        <div class="row">

            {% if messages %}
                {% for message in messages %}
                    <div class="message" role="alert">
                        <label>
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="success">
                              <span class="alertClose">X</span>
                              <span class="alertText">{{ message }}<br />
                              <br class="clear"/></span>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            {% endif %}

            {% if carts %}
            {% for cart in carts %}
                <h3>Cart {{forloop.counter}}:</h3>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Price</th>
                            <th>Edition</th>
                            <th>Option</th>
                        </tr>
                        {% for book in cart.books.all %}



                        <tr>
                            <td>{{book.title}} </td>
                            <td>{{book.author}} </td>
                            <td>{{book.price}} </td>
                            <td> <div class="center-book">
                                <img src="{% static 'images/'|add:book.title|add:'.jpg' %}" alt="{{ book.title }}" class="book-image">
                            </div> </td>

                            <td><a href="{% url 'removeBookCustomer' book.id %}">Remove</a> </td>
                        </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <form action="{% url 'payment' payment_id=carts.first.id %}" method="get">
                        <input type="hidden" name="total_amount" value="{{ payment.total_amount }}">
                        <button type="submit" class="button">Pay Now</button>
                    </form>
                      
                    </form>                    
                </div>
            {% endfor %}
        {% else %}
            <p>Your cart is empty !!!.</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/book_store/book_store_arboleda/viewcart.js' %}"></script>
{% endblock %}