{% extends "book_store_arboleda/base.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book_store_arboleda/jumbotronCart.css' %}">
{% endblock %}

{% block content %}
 
<div class="container">
    <div class="jumbotron">
        <div class="row">

            {% if messages %}
                {% for message in messages %}
                    <div class="message" role="alert">
                        <label>
                            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                            <div class="success">
                              <span class="alertClose">X</span>
                              <span class="alertText">{{ message }}<br />
                              <br class="clear"/></span>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            {% endif %}

            {% if cart %}

                <h3>Shopping Cart: {{user.first_name|capfirst}} {{user.last_name|capfirst}}</h3>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Book Cover</th>
                            <th></th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for book in cart.books.all %}

                        <tr>
                            <td> <div class="center-book">
                                <img src="{% static 'images/'|add:book.title|add:'.jpg' %}" alt="{{ book.title }}" class="book-image">
                            </div> </td>
                            
                            <td>
                                <div class="book-info">
                                    <div class="book-title">Book title: {{ book.title }}</div>
                                    <div class="book-author">Author: {{ book.author }}</div>
                                </div>
                            </td>
                            <td><div class="book-price">${{ book.price }}</div></td>
                            <td><a href="{% url 'removeBookCustomer' book.id %}"><i class="fa-regular fa-trash-can fa-xl"></i></a> </td>
                        </tr>

                        {% endfor %}
                        <td></td>
                            <td>
                                <a href="{% url 'empty_cart' %}" class="button">Empty Cart</a>
                                <a href="{% url 'home' %}" class="button" >Continue Shopping</a>
                            </td>
                        <td><div class="book-amount">${{ cart.total_amount }}</div></td>
                        <td><a href="{% url 'payment' cart_id=cart_id %}" class="button">Payment</a></td>
                    </table>
                    
                      
                              
                </div>

            {% else %}
            <p>Your cart is empty !!!.</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/520a58e117.js" crossorigin="anonymous"></script>
{{ block.super }}
<script src="{% static 'js/book_store/book_store_arboleda/viewcart.js' %}"></script>
{% endblock %}